@import "font.css";

:root {
  --mainWhite: #f5f5f5;
  --mainGreen: #80cfa9;
  --mainBlack: #333333;
  --mainRed: #d62828;
  --mainBlue: #11b5e4;
}

@font-face {
  font-family: 'FredokaOne-Regula';
  src: url(../fonts/FredokaOne-Regular.ttf);

}

@font-face {
  font-family: 'Sen-Bold';
  src: url(../fonts/Sen-Bold.ttf);
}

@font-face {
  font-family: 'Sen-ExtraBold';
  src: url(../fonts/Sen-ExtraBold.ttf);
}

@font-face {
  font-family: 'Sen-Regular';
  src: url(../fonts/Sen-Regular.ttf);
}

@font-face {
  font-family: 'Dongle-Bold';
  src: url(../fonts/Dongle-Bold.ttf);
}

body {
  background: #90afe7;
  color: #333333;
}

.todoList {
  font-family: 'FredokaOne-Regula';
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin-top:0;
}

.input-group {
  justify-content: center;
}

.input-group-append {
  display: inline-flex;
  margin-bottom: 20px;

}

.btn-warning {
  width: 127px;
  padding: 5px;
  font-size: 25px;
  position: relative;
  left: 7px;
  margin: 0 auto;
  color: #fff;

  border: none;
  border-radius: 25px;
  font-family: 'Dongle-Bold';
  background: #12c2e9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f64f59, #12c2e9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f64f59, #12c2e9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  cursor: pointer;
}

.btn-add {
  width: 127px;
  padding: 5px;
  font-size: 25px;
  position: relative;
  left: 7px;
  margin: 0 auto;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 17px;
  font-family: 'Dongle-Bold';
  background: #134E5E;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #71B280, #134E5E);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #71B280, #134E5E);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.btn-clear {
  width: 127px;
  padding: 5px;
  font-size: 25px;
  position: relative;
  left: 11px;
  margin: 0 auto;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 17px;
  font-family: 'Dongle-Bold';
  background: #ec008c;
  background: -webkit-linear-gradient(to right, #fc6767, #ec008c);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fc6767, #ec008c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.form-control {
  border-color: rgb(241, 235, 235) !important;
}

.feedback {
  display: none;
  border-radius: 15px;
  padding: 8px;
  margin-top: 4px;
  transition: 0.2s;
  margin: 0 35vw;
  font-size: 15px;
  color: #fff5f5;
  font-weight: bold;
  font-family: 'Sen-Bold';
  text-align: center;
  background: #ec008c;

}

#itemForm {
  position: relative;
  margin: 19px 55px;
  height: fit-content;
  padding: 15px;
  padding-top: 30px;
  background-color: #fff;
  border-radius: 15px;
}

.item-list {
  background-color: #fff;
  margin: 0 50px;
  border-radius: 17px;
}

.item {
  display: flex;
  justify-content: space-between;
  font-family: 'Sen-Bold';
  font-size: 20px;
  padding-left: 18px;
  padding-right: 18px;

}

.item-icon {
  font-size: 2rem;
  cursor: pointer;

}

.complete-item {
  color: #2C7744;
}

.complete-item:hover {
  opacity: 80%;
}

.edit-item {
  color: #7F7FD5;
}

.edit-item:hover {

  opacity: 80%;
}

.delete-item {
  color: #ec1c00;
}

.delete-item:hover {
  opacity: 80%;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.visibility {
  opacity: 0.5;
}

.showItem {
  display: block;
}

.margin {


  margin-left: 25px;
}

.flex {
  display: flex;
  justify-content: center;
}

#itemInput {
  padding: 10px;
  border-radius: 17px;
  font-family: 'Sen-Regular';
  font-size: 15px;
  transition: 0.2s;
  border: 3px rgb(241, 235, 235) solid;
  opacity: 80%;
}

#itemtime {
  padding: 10px;
  border-radius: 17px;
  font-family: 'Sen-Regular';
  font-size: 15px;
  transition: 0.2s;
  border: 3px rgb(241, 235, 235) solid;
  opacity: 80%;
}

.form {
  font-family: dangel1 !important;
}

.right-part {
  display: flex;
}

h6 {
  margin-left: 100px;
}

.logout {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  font-family: 'Sen-Regular';
  font-weight: bold;
  letter-spacing: 0;
  line-height: 0.7em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 0.9em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  
}
.logout:hover{
  color: #fff;
  
}
.logout:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background: linear-gradient(to right, #f64f59, #12c2e9);
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
  border-radius: 20px;
}

.logout:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}


.logout span {
  z-index: 1;
  position: relative;
}
