* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'FredokaOne-Regula';
  src: url(../fonts/FredokaOne-Regular.ttf);

}

@font-face {
  font-family: 'Sen-Bold';
  src: url(../fonts/Sen-Bold.ttf);
}

@font-face {
  font-family: 'Sen-ExtraBold';
  src: url(../fonts/Sen-ExtraBold.ttf);
}

@font-face {
  font-family: 'Sen-Regular';
  src: url(../fonts/Sen-Regular.ttf);
}

@font-face {
  font-family: 'Dongle-Bold';
  src: url(../fonts/Dongle-Bold.ttf);
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

#create-account-form {
  width: 600px;
  height: 617px;
  padding: 15px;
  padding-top: 30px;
  background-color: #fff;
  border-radius: 15px;

}

#login-account-form {
  width: 600px;
  height: 450px;
  padding: 15px;
  padding-top: 30px;
  background-color: #fff;
  border-radius: 15px;

}

.title h2 {
  font-family: 'FredokaOne-Regula';
  /* font-family: 'Poppins', sans-serif; */
  text-align: center;

  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.login-title h2 {
  font-family: 'FredokaOne-Regula';
  /* font-family: 'Poppins', sans-serif; */
  text-align: center;

  font-size: 35px;
  text-transform: uppercase;
  padding-bottom: 8px;
}

.title {
  margin-bottom: 20px;
}

.input-group {
  margin: 20px 100px;
  position: relative;
}

.input-group label {
  display: inline-block;
  margin-bottom: 5px;
  font-family: 'Sen-Regular';
  font-size: large;
}

.input-group input {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 17px;
  font-family: 'Sen-Regular';
  font-size: 15px;
  transition: 0.2s;
  border: 3px rgb(241, 235, 235) solid;
  opacity: 80%;


}

.input-group input:hover {
  border: 3px rgb(223, 216, 216) solid;

}

.error input {
  border: 3px #EA384D solid;
}

.success input {
  border: 3px #11998e solid;
}

.input-group i {
  position: absolute;
  right: 10px;
  top: 40px;
  visibility: hidden;
}

.success i.fa-check-circle {
  visibility: visible;
  color: #11998e;
}

.error i.fa-exclamation-circle {
  visibility: visible;
  color: #EA384D;
}

.input-group p {
  font-size: 15px;
  color: #EA384D;
  visibility: hidden;
  font-family: 'Sen-Bold';

}

.error p {
  visibility: visible;
}

.btn {
  width: 67%;
  padding: 5px;
  font-size: 30px;
  position: relative;
  left: 92px;
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 25px;
  font-family: 'Dongle-Bold';
  background: #12c2e9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  cursor: pointer;

}

.btn:hover {
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  transition-duration: 2s;

}

.signup {
  text-align: center;
  position: relative;
  top: 25px;

}

.signup a {
  font-family: 'Sen-Regular';
  font-size: 20px;
  text-decoration: none;
  color: #000;

}

.signup a:hover {
  opacity: 80%;
}